
.small-container {
    max-width: 1000px;
    margin: auto;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
.bgProdutos{
  margin-bottom: 80px;
  padding-top: 115px;

}
  .infoCompra{
    font-size: 13px;;
  }
  
.button{
    border: none;
    font-size: 15px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #000000;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  
  }
  .button:hover{
    background: #2e2e2e;
    color: #ffffff;
    text-decoration: none;
  }


/* Estilize o link ativo */
.menu a:hover {
    background-color: #555;
}

/* Estilize o link ativo */
.menu a.active {
    background-color: #777;
}
/* Estilos para o botão de compra */
.btn-compra {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #020202;
    transition: background-color 0.3s, color 0.3s;
}


/* Estilo ao passar o mouse por cima do botão */
.btn-compra:hover {
    background-color: #1d1d1d;
    color: #fff;
}

/* Estilo ao clicar no botão */
.btn-compra:active {
    background-color: #6d6d6d;
}
