
:root{
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000000;
  
    --color-puple-se-50: #33ff00;
    --color-puple-se-100: #8bec73;
    --color-puple-se-200: #a9dd9c;
    
    --color-gradient: linear-gradient(90deg, var(--color-puple-se-50),var(--color-puple-se-100),var(--color-puple-se-200))
  }
  
  .botao1 {
    width:200px;
    height: 45px;
    border-radius: 100px;
    margin-top: 20px;
    padding: 15px 0;
    background-color: #A9A9A9;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    align-items: right;
    transition: 0.5s;
  }
  
  
  .botao1:hover{
    background-color: #1C1C1C;
    transition: 0.5s;
    color: #fff;
  }

  
  
  body {
      text-align: center;
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
      color: #ffffff;
  
    }
    
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .content {
      background-color: var(--color-light-50);
      display: flex;
      flex-direction: column;
      padding: 30px 40px;
      border-radius: 8px;
      gap: 30px;
      box-shadow: 5px 5px 8px rgba(0, 0, 0.336) ;
      height: fit-content;
      animation: dark-to-light  0.3s ease-in-out ;
      margin-top: 240px;
    }
    
    /* Adicione esse CSS ao seu estilo existente */
  
  /* Garante que o contêiner do formulário não exceda a largura da tela */
  .form-container {
    width: 100%;
    max-width: 400px; /* Defina o tamanho máximo que você deseja para o formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
  }
  
  /* Estilo para o formulário */
  form {
    width: 100%;
    /* Adicione qualquer outro estilo que desejar para o formulário */
  }
  
  /* Estilo para os títulos do formulário */
  form h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* Estilo para os parágrafos do formulário */
  form p {
    margin: 10px 0;
  }
  
  /* Estilo para as etiquetas (labels) do formulário */
  form label {
    display: flex;
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Estilo para os campos de entrada (inputs) e área de texto (textarea) do formulário */
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #1b1b1b;
    margin-top: 5px;
  }
  
  /* Estilo para o botão de envio (submit) do formulário */
  form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #585858;
  }
  
  /* Caixas de seleção (checkboxes) */
  .form-check {
    margin-right: 10px;
  }
  
  /* Estilos personalizados para checkboxes */
  .form-check-input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Media Query para telas menores */
  @media only screen and (max-width: 400px) {
    .form-container {
      max-width: 90%; /* Ajusta o tamanho máximo do formulário para telas menores */
    }
  }
  /*Menu*/
  
  
  .navbar-dark .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
  
  }
  
  .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-toggler {
    background: #ffffff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  .nav-link.active,.nav-link:focus{
    color: #ffffff;
  }
  
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .menu{
    margin-left: 350px;
  }
  .botaoSair{
    text-decoration:none;
  }
  .nav-link {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #1C1C1C;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 0.5s;
    text-decoration: none;
  }
  .nav-link:hover{
    background-color: #A9A9A9;
    transition: 0.5s;
    color: #000000;
  }
    
    
    
    