/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-container{
  margin-top: 200px;
  max-width: 1120px;
  height: 850px;
  padding: 10px;
}
.slide-content{
  
  overflow: hidden;
  
}

.oferta{
  margin-left: 400px;
  width: 60%;
  margin-top: -1000px;
}

.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #000000;
  border-radius: 6px;
  margin: 25px;
  cursor: pointer;
  transition: all 0.3s ease;


}
.infoCompra{
  font-size: 13px;
}
.button:hover{
  background: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
}

.swiper-navBtn{
  color: #000000;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #000000;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: ;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #000000;
 
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
p{
  margin-left: 20px;
  position:static;

  
}
.img{
   margin-left: 60px;
}
.footer{
  margin-top: 500px;
}


/*Estrela*/
body{
  text-align: center; 
  padding-top: 50px;
}

.estrelas input[type=radio] {
  display: none;
  
}
.estrelas label i.fa{
  font-size: 1.0em;
  
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
  
}
.estrelas input[type=radio]:checked ~ label i.fa::after {
  color: #CCC;
}
.estrelas{
   margin-left: 20px;
}









